::-webkit-scrollbar {
    display: none;
}

:root{
    --text_1: #ffffffcc;
    --text_2: #f8ffd2a8;
    --text_3: #888888d0;
    --text_4: #2427fda8;
}

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: nav_font;
    src: url("../font/Montserrat-Light.ttf");
}

@font-face {
    font-family: mont;
    src: url("../font/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: mont1;
    src: url("../font/Montserrat-Light.ttf");
}

a {
    color: rgb(158, 158, 158);
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

a:hover {
    color: rgb(253, 253, 253);
}

body {
    background-color: rgb(0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
}

@media (min-width: 769px) {

    .responsive_pattern{
        position: fixed;
        filter: blur(45px);
        z-index: -1;
    }

    .pic_1{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 0.5s ease-out;
    }

    .pic_2{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 0.5s ease-out;
    }

    .nav_bar {
        position: fixed;
        display: flex;
        left: 0vw;
        top: 0vh;
        width: 100vw;
        height: auto;
        justify-content: space-between;
        background: rgba(187, 187, 187, 0);
        backdrop-filter: blur(5px);
        z-index: 100;
    }
    
    .nav_bar_text_1 {
        padding: 1.5vw;
        margin-left: 7vw;
        font-size: 1.5vw;
        font-family: nav_font;
        color: rgba(156, 156, 156, 0.897);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .nav_bar_text_1:hover {
        cursor: pointer;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        color: rgba(255, 255, 255, 0.900);
    }
    
    .nav_bar_buttons {
        position: relative;
        display: flex;
        padding: 1.5vw;
        padding-right: 3vw;
        font-size: 1.2vw;
        font-family: nav_font;
        justify-content: space-between;
        gap: 1.5vw;
        color: rgba(156, 156, 156, 0.897);
    }

    .nav_bar_buttons div{
        border-bottom: 2px solid transparent; 
        transition: border-bottom 0.15s ease-in-out;
    }
    
    .home_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .home_button:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.900);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
        cursor: pointer;
    }
    
    .gallery_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .gallery_button:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.900);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
        cursor: pointer;
    }
    
    .about_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .about_button:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.900);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
        cursor: pointer;
    }

    .resume_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .resume_button:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.900);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
        cursor: pointer;
    }

    .home_container{
        position: absolute;
        width: 100vw;
        height: auto;
        z-index: 0;
    }

    .landing_container{
        position:relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hompage_landing{
        position:absolute;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.1s ease-out;
    }

    .name_pronunciation_extras{
        display: flex;
        flex-direction: column;
    }

    .my_name{
        font-family: mont1;
        font-size: 5vw;
        color: var(--text_1);
    }

    .pronunciation{
        font-family: mont;
        font-size: 1vw;
        color: var(--text_2);
    }

    .what_am_I{
        padding-top: 1vw;
        padding-bottom: 0.5vw;
        font-family: mont;
        font-size: 1.5vw;
        color: rgba(255, 255, 255, 0.404);
    }

    .current_designation_1{
        font-family: mont1;
        font-size: 1.2vw;
        color: var(--text_1);
    }

    .current_designation_2{
        font-family: mont1;
        font-size: 1.2vw;
        color: var(--text_1);
    }

    .other_times{
        padding-top: 1vw;
        padding-bottom: 0.5vw;
        font-family: mont;
        font-size: 1.5vw;
        color: rgba(255, 255, 255, 0.404);
    }

    .hobby_1{
        font-family: mont1;
        font-size: 1.2vw;
        color: var(--text_1);
    }

    .hobby_2{
        font-family: mont1;
        font-size: 1.2vw;
        color: var(--text_1);
    }

    .down_button{
        margin-top: auto;
        margin-bottom: 0.5vh;
        width: 4vw;
        height: auto;
        filter: invert(1) opacity(0.5);
        transition: filter 0.25s ease-in-out;
    }

    .down_button:hover{
        cursor: pointer;
        filter: invert(1) opacity(0.75);
    }

    .projects_showcase{
        position: relative;
        width: 100vw;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project_img{
        position: relative;
        width: 70vw;
        height: auto;
    }

    .project{
        position: relative;
        width: 70vw;
        height: auto;
        margin-top: 8vh;
        margin-bottom: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        opacity: 0.7;
        transition: opacity 0.15s ease-in-out;
    }

    .project:hover{
        opacity: 0.99;
    }

    .project_heading{
        padding-top: 2vh;
        font-family: mont;
        font-size: 1.5vw;
        color: antiquewhite;
    }

    .project_gist {
        padding-top: 2vh;
        font-family: mont1, Arial, sans-serif;
        font-size: 1vw;
        color: rgb(255, 255, 255);
        line-height: 1.6;
        background-color: #00000000;
    }




}









@media (max-width: 768px){

    .responsive_pattern{
        position: fixed;
        width: 100vw;
        height: auto;
        object-fit: contain;
        filter: blur(45px);
        z-index: -1;
    }

    .pic_1{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 0.5s ease-out;
    }

    .pic_2{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 0.5s ease-out;
    }
    
    .nav_bar {
        position: absolute;
        display: flex;
        left: 0vw;
        top: 0vh;
        width: 100vw;
        height: auto;
        justify-content: space-between;
        background: rgba(187, 187, 187, 0);
        z-index: 100;
    }
    
    .nav_bar_text_1 {
        padding: 1vw;
        padding-left: 3vw;
        font-size: 3vw;
        font-family: mont;
        color: rgba(156, 156, 156, 0.897);
    }
    
    .nav_bar_text_1:hover {
        cursor: pointer;
    }
    
    .nav_bar_buttons {
        position: relative;
        display: flex;
        padding: 1vw;
        padding-right: 3vw;
        font-size: 2.5vw;
        font-family: mont;
        justify-content: space-between;
        gap: 1.5vw;
        color: rgba(245, 245, 245, 0.644);
    }
    
    .home_button {
        padding-inline: 0.5vw;
    }
    
    .home_button:hover {
        cursor: pointer;
    }
    
    .gallery_button {
        padding-inline: 0.5vw;
    }
    
    .gallery_button:hover {
        cursor: pointer;
    }
    
    .about_button {
        padding-inline: 0.5vw;
    }
    
    .about_button:hover {
        cursor: pointer;
    }

    .resume_button {
        padding-inline: 0.5vw;
    }
    
    .resume_button:hover {
        cursor: pointer;
    }

    .home_container{
        position: absolute;
        width: 100vw;
        height: auto;
        z-index: 0;
    }

    .landing_container{
        position: relative;
        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hompage_landing{
        position:absolute;
        height: auto;
        width: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: transform 0.1s ease-out;

        /* background-color: rgba(68, 68, 68, 0.63); */
    }

    .name_pronunciation_extras{
        display: flex;
        flex-direction: column;
    }

    .my_name{
        font-family: mont1;
        font-size: 12vw;
        color: var(--text_1);
    }

    .pronunciation{
        font-family: mont;
        font-size: 5vw;
        color: var(--text_2);
    }

    .what_am_I{
        padding-top: 1vw;
        padding-bottom: 0.5vw;
        font-family: mont;
        font-size: 2.5vw;
        color: rgba(255, 255, 255, 0.404);
    }

    .current_designation_1{
        font-family: mont1;
        font-size: 3vw;
        color: var(--text_1);
    }

    .current_designation_2{
        font-family: mont1;
        font-size: 3vw;
        color: var(--text_1);
    }

    .other_times{
        padding-top: 1vw;
        padding-bottom: 0.5vw;
        font-family: mont;
        font-size: 2.5vw;
        color: rgba(255, 255, 255, 0.404);
    }

    .hobby_1{
        font-family: mont1;
        font-size: 3vw;
        color: var(--text_1);
    }

    .hobby_2{
        font-family: mont1;
        font-size: 3vw;
        color: var(--text_1);
    }

    .down_button{
        margin-top: auto;
        margin-bottom: 8vh;
        width: 4vw;
        height: auto;
        filter: invert(1) opacity(0.5);
    }

    .down_button:hover{
        cursor: pointer;
        filter: invert(1) opacity(0.75);
    }

    .projects_showcase{
        position: relative;
        width: 100vw;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project_img{
        position: relative;
        width: 80vw;
        height: auto;
    }

    .project{
        position: relative;
        width: 80vw;
        height: auto;
        margin-top: 8vh;
        margin-bottom: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .project:hover{
        opacity: 0.99;
    }

    .project_heading{
        padding-top: 1.5vh;
        font-family: mont;
        font-size: 3vw;
        color: antiquewhite;
    }

    .project_gist {
        padding-top: 1vh;
        font-family: mont1, Arial, sans-serif;
        font-size: 2vw;
        color: rgb(255, 255, 255);
        line-height: 2;
        background-color: #00000000;
    }

}

