::-webkit-scrollbar {
    display: none;
}

:root{
    --text_1: #ffffffcc;
    --text_2: #f8ffd2a8;
    --text_3: #888888d0;
    --text_4: #2427fda8;
}

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: nav_font;
    src: url("../font/Montserrat-Light.ttf");
}

@font-face {
    font-family: mont;
    src: url("../font/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: mont-light;
    src: url("../font/Montserrat-Light.ttf");
}

@font-face {
    font-family: sequel;
    src: url("../font/Sequel_Demo.ttf");
}

a {
    color: rgb(158, 158, 158);
    text-decoration: none;
    transition: color 0.15s ease-in-out;
    cursor: url('../images/home/icons/dot.png'), auto;
}

a:hover {
    color: rgb(253, 253, 253); 
}

body {
    background-color: rgb(0, 0, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    display: flex;
    flex-direction: column;
    cursor: url('../images/home/icons/dot.png'), auto;

    scroll-behavior: smooth; /* FOR IOS */
    -webkit-overflow-scrolling: touch; /* FOR IOS */
    overscroll-behavior: auto;
}

@media (min-width: 769px) {

    .responsive_pattern{
        position: fixed;
        filter: blur(45px);
        z-index: -1;
    }

    .pic_1{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 1s ease-out;
    }

    .pic_2{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 1s ease-out;
    }

    .nav_bar {
        position: fixed;
        display: flex;
        left: 0vw;
        top: 0vh;
        width: 100vw;
        height: auto;
        justify-content: space-between;
        background: rgba(187, 187, 187, 0);
        backdrop-filter: blur(10px);
        z-index: 100;
        transition: background 0.15s ease-in-out;
    }

    .nav_bar:hover {
        background: rgba(0, 0, 0, 0.295);
    }
    
    .nav_bar_text_1 {
        padding-top: 1vw;
        margin-left: 20vw;
        font-size: 0.9vw;
        font-family: nav_font;
        color: rgba(202, 202, 202, 0.808);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    .nav_bar_text_1:hover {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        color: rgba(255, 255, 255, 0.979);
    }
    
    .nav_bar_buttons {
        position: relative;
        display: flex;
        padding-top: 1vw;
        padding-right: 20vw;
        font-size: 0.9vw;
        font-family: nav_font;
        justify-content: space-between;
        gap: 1.5vw;
        color: rgba(202, 202, 202, 0.808);
    }

    .nav_bar_buttons div{
        border-bottom: 2px solid transparent; 
        transition: border-bottom 0.15s ease-in-out;
    }
    
    .home_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .home_button:hover {
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
    }
    
    .gallery_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .gallery_button:hover {
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
    }
    
    .about_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .about_button:hover {
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
    }

    .resume_button {
        padding-inline: 0.5vw;
        padding-bottom: 0.7vw;
    }
    
    .resume_button:hover {
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgba(255, 255, 255, 0.822);
    }

    .about_container{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }

    .image_text_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about_image_me{
        width: 20vw;
        height: auto;
        border-radius: 50%;
        opacity: 0.6;
        filter: grayscale(10%) brightness(90%);
        transition: opacity 0.15s ease-in-out;
        transition: all 0.5s ease-out;
    }

    .image_text_container:hover .about_image_me{
        filter: grayscale(0%) brightness(105%);
        opacity: 0.9;
    }

    .text_container{
        position: relative;
        width: 40vw;
        height: 25vh;
        margin-left: 2vw;
        overflow-y: scroll;
    }

    .text_content {
        position: relative;
        padding: 1.2vh;
        font-family: mont-light, Arial, sans-serif;
        font-size: 1.5vw;
        color: rgb(255, 255, 255);
        line-height: 1.7;
        white-space: pre-line;
    }
    

}


@media (max-width: 768px){
    .responsive_pattern{
        position: fixed;
        width: 100vw;
        height: auto;
        object-fit: contain;
        filter: blur(45px);
        z-index: -1;
    }

    .pic_1{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 0.5s ease-out;
    }

    .pic_2{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-size: cover; 
        background-position: center;
        transition: filter 0.1s linear;
        transition: transform 0.5s ease-out;
    }
    
    .nav_bar {
        position: absolute;
        display: flex;
        left: 0vw;
        top: 0vh;
        width: 100vw;
        height: auto;
        justify-content: space-between;
        background: rgba(187, 187, 187, 0);
        backdrop-filter: blur(10px);
        z-index: 100;
        transition: background 0.15s ease-in-out;
    }

    .nav_bar:hover {
        background: rgba(0, 0, 0, 0.295);
    }
    
    .nav_bar_text_1 {
        padding: 1vw;
        padding-left: 3vw;
        font-size: 3vw;
        font-family: mont;
        color: rgba(156, 156, 156, 0.897);
    }

    .nav_bar_buttons {
        position: relative;
        display: flex;
        padding: 1vw;
        padding-right: 3vw;
        font-size: 2.5vw;
        font-family: mont;
        justify-content: space-between;
        gap: 1.5vw;
        color: rgba(245, 245, 245, 0.644);
    }
    
    .home_button {
        padding-inline: 0.5vw;
    }
    
    .gallery_button {
        padding-inline: 0.5vw;
    }
    
    .about_button {
        padding-inline: 0.5vw;
    }

    .about_container{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image_text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_image_me{
        width: 45vw;
        height: auto;
        border-radius: 50%;
    }

    .text_container{
        position: relative;
        width: 80vw;
        height: 18vh;
        margin-top: 8vw;
        overflow-y: scroll;
    }

    .text_content {
        position: relative;
        padding: 1.2vh;
        font-family: mont-light, Arial, sans-serif;
        font-size: 2.5vw;
        color: rgb(255, 255, 255);
        line-height: 1.7;
        white-space: pre-line;
    }


}